/* Estilos para el contenedor principal */
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
    /* Puedes descomentar la siguiente línea si tienes una imagen de fondo */
    /* background-image: url(./bg.jpg); */
}

/* Estilos para el contenedor hijo */
.container {
    position: relative;
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animación de parpadeo para los elementos hijos */
.container span {
    position: absolute;
    left: 0;
    width: 32px;
    height: 6px;
    background: #f5e506;
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
    animation: animateBlink 3s linear infinite;
    animation-delay: calc(var(--i) * (3s / 50));
}

@keyframes animateBlink {
    25% {
        background: rgb(10, 3, 0);
    }
    25% {
        background: #0a0000;
    }
}

/* Estilos para la caja de inicio de sesión */
.login-box {
    position: absolute;
    width: 400px;
}

.login-box form {
    width: 100%;
    padding: 0 50px;
}
/* Color de la palabra Login */
h2 {
    font-size: 2em;
    color: rgb(255, 0, 0);
    text-align: center;
}

/* Estilos para las cajas de entrada */
.input-box {
    position: relative;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #2c4766;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #000000;
    padding: 0 20px;
    transition: .5s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: rgb(17, 255, 0);
}

/* Letras dentro de los campos*/
.input-box label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000000;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 1px;
    font-size: .8em;
    background: #1f293a;
    padding: 0 6px;
    color: rgb(255, 251, 0);
}


/* Estilos para el botón de envío */
.btn {
    width: 100%;
    height: 45px;
    background: rgb(255, 157, 0);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #1f293a;
    font-weight: 600;
}


