<section class="container">
<form class="form">
    <p class="title">Inicicar Sesion </p>
        <div class="flex">
    </div>  
            
    <label>
        <input  required="" placeholder="" type="email" [(ngModel)]="loginObj.Email" name="EmailId" class="input">
        <span>Email</span>
    </label>
    
    <label>
        <input required="" placeholder="" type="password" [(ngModel)]="loginObj.Password" name="Password" class="input">
        <span>Password</span>
    </label>
    
    <button class="boton" (click)="onLogin()" >Iniciar Sesion</button>
    <p class="signin">¿Tienes una cuenta ?<a href="/register">Registrate</a> </p>
</form>
</section>