.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #ffffff; /* Fondo blanco */
    color: #ffffff; /* Texto en blanco */
    border: 1px solid #333;
    align-items: center; /* Centra horizontalmente */
    margin: 0 auto; /* Centra horizontalmente en la página */
}

.message,
.signin {
    font-size: 14.5px;
    color: #000000; /* Texto con opacidad */
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}
.form label {
    position: relative;
}
